.SignUp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  display: flex;
  margin: auto !important;
  padding: 10px 20px;
  border-radius: 10px !important;
}
.form_one {
  width: 50%;
  background: rgba(119, 164, 172, 0.7);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px auto;
  padding: 25px 15px;
}
input {
  width: 80%;
  height: 2em;
  margin: 5px 40px !important; /* auto kyon nhi kam kar raha hai. */
}
